<div class="home_merch">
  
  
  <div class="home_merch_desk small--hide">

  <img id="" class="lazyload" src="" data-src="{{product.metafields.classic_image_desk.classic_image_desk}}" data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]" data-aspectratio="2.8345195729537367" data-sizes="auto" data-expand="-20"> </div>
  <div class="home_merch_mo large--hide">

  <img id="" class="lazyload" src="" data-src="{{product.metafields.classic_image_mobile.classic_image_mobile}}" data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]" data-aspectratio="0.7202849643794526" data-sizes="auto" data-expand="-20" alt="">
  </div>
</div>