<div class="newsletter_new">
       <div id="footer_news">
     
         {%- if section.settings.n_title != blank -%}
        <h3 class="text-left">{{ section.settings.n_title }}</h3>    
     {%- endif -%}
     
          {%- if section.settings.n_info != blank -%}
        <div class="width-440 text-left">
          {{ section.settings.n_info | replace: "+", "<sup>+</sup>" }}
        </div>    
         {%- endif -%}
         
         {%- comment -%}
<form id="top-mc-form">
  <div class="news-input">
    <div class="mc_box">
      <i>📞</i>
   <input id="mc-phone" type="tel" placeholder="phone number" name="PHONE"> 
    </div>
     <div class="mc_box">
      <i>📬</i>
  <input id="mc-email" type="email" placeholder="Email">
    </div>
    <button type="submit" class="Form__Submit Button Button--primary btn" id="go">
      <i></i>
      <span>sign up</span>
    </button>
    <label for="mc-email"></label>
  </div>    
</form>
         {%- endcomment -%}
     
<div id="top-mc-form">
	<div class="klaviyo-form-RJcFwH"></div>
</div>
      

         
{%- if section.settings.n_footer != blank -%}
      <div class="n_footer">
      {{ section.settings.n_footer }}
      </div>  
      {%- endif -%}
         

         
           </div>
    </div>