<div class="okeReviews-reviewsAggregate-controls-item okeReviews-custom-controlItem">
  <a target="_blank" href="https://reviews.okendo.io/stores/e70d31ed-1959-44d7-b313-23f90f9104ab/question?productId=shopify-{{ product.id }}"><div class="okeReviews-button okeReviews-customButton-askAQuestion">Ask a Question</div></a>
</div>
<div data-oke-reviews-widget data-oke-reviews-product-id="shopify-{{ product.id }}">{{ product.metafields.okendo.ProductReviewsWidgetSnippet }}</div>
