

<div class="recycle_image_text" style="background-color:#000;">
  <div class="recycle_image_text_wrapper sec_align_right">
    <div class="half_grid">
      {{product.metafields.accentuate.pod_x_vimeo}}
    </div>
    <div style="padding: 15px;"class="half_grid">
      <div style="max-width: 500px;"class="section_info_wrapper">        
        <h2 style="font-size:34px;color:#fff;text-align:LEFT"class="h3">{% if product.metafields.accentuate.spinning_pod_title != blank %}{{ product.metafields.accentuate.spinning_pod_title }}
{% else %}POWER POD AT A GLANCE{% endif %}</h2>        <section style="padding:0;" id="product_des">
  <div>
    
    <div style="border-color:#ffffff6b!important;" class="accordion-tab1">  
       
        <div style="pointer-events: none; color:#ffffff6b;border-top: TRANSPARENT" class="accordion_n accordion-close_n" id="newsection_1  ">PUFFS<div class="notab">400 puffs/ pod</div></div> 
        <div style="color: rgb(255, 255, 255); display: none;" class="content_n">
        <p>Ingredients</p>
      </div>   <div style="pointer-events: none; color:#ffffff6b;border-top: 2px solid #ffffff6b" class="accordion_n accordion-close_n" id="newsection_2  ">BATTERY LIFE<div class="notab">10hrs/charge</div></div> 

     <div style="color: rgb(255, 255, 255); display: none;" class="content_n">
        <p>Ingredients</p>
      </div>
            <div style="pointer-events: none; color:#ffffff6b;border-top: 2px solid #ffffff6b" class="accordion_n accordion-close_n" id="newsection_3  ">INGREDIENTS<div class="notab">Plant powered</div></div> 
      
      
      <div style="color: rgb(255, 255, 255); display: none;" class="content_n">
        <p>Ingredients</p>
      </div>
      <div style="pointer-events: none; color:#ffffff6b;border-top: 2px solid #ffffff6b" class="accordion_n accordion-close_n" id="newsection_3  ">FORMULA<div class="notab">0% nicotine</div></div> 
      
      
      <div style="color: rgb(255, 255, 255); display: none;" class="content_n">
        <p>Ingredients</p>
      </div>
      
      
      
    </div>
  </div>
</section>
        
        
        </div>
    </div>
  </div>
</div>

