




<div  class="full__width large--hide "style="padding:177.78% 0 0 0;position:relative;">
  <div style="small--hide; text-align:left;position:absolute;background:none!Important;     bottom: 5%; 
    z-index: 99; " class="home-pod home_merch_wrap merch_center">
      
      
            <h3 class="large--hide pod-response" style="color:#fff!important;margin-bottom:20px; font-size:23px!important;text-align:center">THE POD WILL <br>BE WITH YOU, ALWAYS</h3>

     
        
      
       <a style="box-shadow: 0 0 20px #ffff!important;"href="/collections/new-pods/products/the-starter-kit" class="btn" tabindex="0">
        <i></i>
        <span style="color:#000">Shop Now</span>
      </a>
        
      
    </div>
  
  <iframe class="large--hide lazyload"data-src="https://player.vimeo.com/video/731442682?h=d3a08a16aa&amp;badge=0&amp;autoplay=1&loop=1&autopause=0&muted=1&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="RIPPLE_POD_ERA_9x16_PT2_H264"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
<div class="full__width small--hide"style="padding:48.78% 0 0 0;position:relative;">
  
  <div style="small--hide; text-align:left;position:absolute;background:none!Important;     bottom: 5% ;left:3%;
    z-index: 99; " class="home-pod home_merch_wrap merch_center">
      
      
      <h3 class="small--hide pod-response" style="color:#fff!important; margin:20px;font-size:30px!important;">THE POD WILL BE <br>WITH YOU, ALWAYS</h3>
            <h3 class="large--hide pod-response" style="color:#fff!important;margin:20px; font-size:23px!important;">THE POD WILL BE <br>WITH YOU, ALWAYS</h3>

     
        
      
       <a style="margin:20px;box-shadow: 0 0 20px #ffff!important;"href="/collections/new-pods/products/the-starter-kit" class="btn" tabindex="0">
        <i></i>
        <span style="color:#000">Shop Now</span>
      </a>
        
      
    </div>
  <iframe class="small--hide lazyload"data-src="https://player.vimeo.com/video/724408986?h=26578442de&amp;badge=0&amp;autoplay=1&loop=1&autopause=0&muted=1&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="RECHARGEABLE VIDEO"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>



{% schema %}
  {
    "name": "Pod video",
    "settings": [
        
		
],
 "presets": [
    {
      "name": "vimeo-video",
      "category": "Image"
    }
  ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}

