<div class="shopify-section-blog-template dedicated-reviews-page">
  <div class="page-width">
    <div class="section-header text-center">
    	<h1 class="bold-font">{{page.title}}</h1>
    </div>
    <div data-oke-reviews-widget=""></div>
  </div>
</div>